body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin: 7px 0 5px;
}
input {
    padding: 2px;
    width: 10%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
button {
    padding: 10px;
    background-color: #5928a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
button:hover {
    background-color: #3c2188;
}
#resultado {
    margin-top: 20px;
    font-weight: bold;
}